extends layout

block content
  .main.container.row
    .col-md-6.offset-4
      h1.display-4.m-b-2 Enter events!

      // register form
      form
        div.form-group
          label(for='title') Event Title:
          input#title.form-control(type='text', placeholder='title' name='title')
        div.form-group
          label(for='date') Date:
          input#date.form-control(type='date', placeholder='date' name='date')
        div.form-group
          label(for='start') Start Time:
          input#start.form-control(type='time', placeholder='HH:MM' name='start')
        div.form-group
          label(for='end') End Time:
          input#end.form-control(type='time' placeholder="HH:MM" name='end')
        div.form-group
          label(for='description') Description:
          input#description.form-control(type='text' name='description')
        div#action-button
          button.btn.btn-primary#submit(type='submit') Submit

  #activities
    #activitiesTable
      if {events}
        h2 Saved Events
        table
          tr
            th Date
            th Start Time
            th End Time
            th Title
            th
          each event in events
            tr
              td= moment(event.date).format("MM/DD/YY")
              td #{event.start}
              td #{event.end}
              td
               a#eventLink(href="#" data-toggle="modal" data-target="#exampleModal" data-attr= (event.description)) #{event.title} 
              td
                button#edit.btn.btn-outline-primary(type="#" value= (event.id)) Update
                span 
                button#delete.btn.btn-outline-danger(type="#" value=(event.id)) Delete