extends layout

block content
      #gallery
        if {galleries}
          h2 Image Gallery
          each gallery in galleries
            ul(style="list-style-type: none; display: inline-block")
               li 
                 .row
                    .col-sm-12
                      a(href=((gallery.key)) data-lightbox="gallery-set")
                        img(src=((gallery.key)) height="250" width="250")
                        //- img(src=(`https://stmarkfiles7.s3.amazonaws.com/${(gallery.key)}`) height="250" width="250")
                      if currentUser
                        .row
                          .col-sm-12   
                            //- button#imageDelete.btn.btn-danger(type="button" value=(gallery._id) attr=(gallery.imageURL)) 
                            //-   i.fas.fa-trash-alt 