extends layout

block content
    #uploadForm
        br
        .col-md-6.offset-3
            form(action="api/upload" method="post" enctype="multipart/form-data")
                .custom-file.mb-3  
                    input#newImages.custom-file-input(type="file" name="image" multiple)
                    label.custom-file-label(for="file")
                    br
                    .row
                        #previewGallery(style="opacity: 0").col-sm-12
                    .row    
                        #imageButton.col-sm-12



