extends layout


block content
  .parallax
    h1= title
    p Welcome to #{title}

  #intro
    h2 Who We Are
    p We are a place for people who want to grow.  We are a place for those who believe in the power of community.
    p Come join us as we study the word of God and honor Him in praise and worship.
