nav.navbar.navbar-expand-lg(style='background-color: #D9E5F2')
  a.navbar-brand(href='https://www.ucc.org/' target="_blank")
    img#logo(src="https://d3n8a8pro7vhmx.cloudfront.net/unitedchurchofchrist/pages/52/attachments/original/1540995080/UCC-Logo-2018-uccwebheader.png?1540995080" style='width: 300px' alt="United Church of Christ")
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon &#x2630;
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='/')
          | Home
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') About Us
      li.nav-item
        a.nav-link(href='/gallery') Gallery
      if !currentUser
          li.nav-item
            a.nav-link(href='/register') Register
          li.nav-item
            a.nav-link(href='/login') Log In
      else   
        li.nav-item
          a.nav-link(href='/events') Add Events
        li.nav-item
          a.nav-link(href='/imageUploader') Load Images
        li.nav-item
          a.nav-link(href='/logout') Log Out
      //- li.nav-item
      //-   a.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled