extends layout


block content
  .parallax
    div.containParallax
      h1= title
      h5 Meet St. Mark's Staff
  //- Consider iterating the staff rows from a JSON object  
  .row.staffDescription
    .col-md-3.offset-md-2.staffPhotoDiv
      br
      img.staff-pic(src="/images/avatar.png" height="200" width="180")

    .col-md-5.role-description
      h2.staffTitle Title/Role
      h3.staffName John Doe
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur feugiat aliquet. Praesent accumsan enim sit amet nisi pellentesque, id placerat massa feugiat. Suspendisse condimentum felis ut metus consequat, at vulputate quam faucibus. Nulla eleifend convallis eros nec varius. Curabitur porta nulla dui, a hendrerit mi tincidunt quis. Duis euismod neque neque. Curabitur tempor nunc eget fermentum viverra. Donec et molestie mi, in suscipit nulla. Nulla maximus eu eros at tempor. Vestibulum tristique orci et ex ullamcorper, ac lobortis est commodo. Etiam tincidunt auctor ex sed rhoncus.Etiam posuere eu quam ac consectetur. Vivamus ut consequat nisi, in venenatis justo. Etiam vulputate rutrum hendrerit. Nullam efficitur porta mauris sit amet cursus. Nunc vestibulum varius dignissim. Fusce fringilla porta est, vel suscipit risus molestie ac. Suspendisse a augue eget ipsum auctor sodales quis sed orci. Curabitur purus sem, pretium eget nisl eu, lobortis lacinia ex. Suspendisse facilisis risus sit amet tempor viverra. Maecenas tincidunt semper suscipit. Nullam vestibulum non tortor ut consequat. 
  .row.staffDescription
    .col-md-3.offset-md-2.staffPhotoDiv
      br
      img.staff-pic(src="/images/avatar.png" height="200" width="180")

    .col-md-5.role-description
      h2.staffTitle Title/Role
      h3.staffName John Doe
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur feugiat aliquet. Praesent accumsan enim sit amet nisi pellentesque, id placerat massa feugiat. Suspendisse condimentum felis ut metus consequat, at vulputate quam faucibus. Nulla eleifend convallis eros nec varius. Curabitur porta nulla dui, a hendrerit mi tincidunt quis. Duis euismod neque neque. Curabitur tempor nunc eget fermentum viverra. Donec et molestie mi, in suscipit nulla. Nulla maximus eu eros at tempor. Vestibulum tristique orci et ex ullamcorper, ac lobortis est commodo. Etiam tincidunt auctor ex sed rhoncus.Etiam posuere eu quam ac consectetur. Vivamus ut consequat nisi, in venenatis justo. Etiam vulputate rutrum hendrerit. Nullam efficitur porta mauris sit amet cursus. Nunc vestibulum varius dignissim. Fusce fringilla porta est, vel suscipit risus molestie ac. Suspendisse a augue eget ipsum auctor sodales quis sed orci. Curabitur purus sem, pretium eget nisl eu, lobortis lacinia ex. Suspendisse facilisis risus sit amet tempor viverra. Maecenas tincidunt semper suscipit. Nullam vestibulum non tortor ut consequat. 
  .row.staffDescription
    .col-md-3.offset-md-2.staffPhotoDiv
      br
      img.staff-pic(src="/images/avatar.png" height="200" width="180")

    .col-md-5.role-description
      h2.staffTitle Title/Role
      h3.staffName John Doe
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur feugiat aliquet. Praesent accumsan enim sit amet nisi pellentesque, id placerat massa feugiat. Suspendisse condimentum felis ut metus consequat, at vulputate quam faucibus. Nulla eleifend convallis eros nec varius. Curabitur porta nulla dui, a hendrerit mi tincidunt quis. Duis euismod neque neque. Curabitur tempor nunc eget fermentum viverra. Donec et molestie mi, in suscipit nulla. Nulla maximus eu eros at tempor. Vestibulum tristique orci et ex ullamcorper, ac lobortis est commodo. Etiam tincidunt auctor ex sed rhoncus.Etiam posuere eu quam ac consectetur. Vivamus ut consequat nisi, in venenatis justo. Etiam vulputate rutrum hendrerit. Nullam efficitur porta mauris sit amet cursus. Nunc vestibulum varius dignissim. Fusce fringilla porta est, vel suscipit risus molestie ac. Suspendisse a augue eget ipsum auctor sodales quis sed orci. Curabitur purus sem, pretium eget nisl eu, lobortis lacinia ex. Suspendisse facilisis risus sit amet tempor viverra. Maecenas tincidunt semper suscipit. Nullam vestibulum non tortor ut consequat. 

  //- #activities
  //-   #activitiesTable
  //-     if {events}
  //-       h2 Announcements
  //-       table
  //-         tr
  //-           th Date
  //-           th Start Time
  //-           th End Time
  //-           th Title
  //-         each event in events
  //-           tr
  //-             td= dayjs(event.date).format("M/D/YY")
  //-             td= dayjs('2020-01-01' + event.start).format("h:mm A")
  //-             td= dayjs('2020-01-01' + event.end).format("h:mm A")
  //-             td
  //-              a#eventLink(href="#" data-toggle="modal" data-target="#exampleModal" data-attr= (event.description)) #{event.title}
              

    
  #location
    br
    h2 Location
    img(src="/images/stMarkMap.png" height="45%" width="40%")
    br
    p 521 Obendorfer Rd Norfolk, VA
    p Call (757) 545-5527
    a(href="https://www.facebook.com/St-Mark-UCC-Berkley-Norfolk-VA-106160771087217/?epa=SEARCH_BOX")
      i.fab.fa-facebook-square.fa-3x(style="color: #2E1017")
       

    


