body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: beige !important; */

}
#navbar {
  color: #396AA2
}
.navbar-toggler {
  display: flex;
  vertical-align: middle;
  border-style: solid;
  border-color: #396AA2;
}
.navbar-toggler-icon {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  color: #396AA2;
}
.parallax {
  background-image: url(../images/StMarkBldg4.jpg);
  
  height: 500px;
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  /* position:absolute; */
  /* top:0;
  bottom:0;
  right:0;
  left:0; */


}
.containParallax{
 
  background: rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  min-height: 68vh;
}
/* .video-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
} */

#intro {
  background-color:#D9E5F2;
  height: 500px;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: local;
  text-align: center;
  color: #2E1017;
  position: relative;
  overflow: hidden;
  /* top:0;
  bottom:0;
  right:0;
  left:0; */
}
.intro-pic{
  float: left;
  margin-left: 15px;
  box-shadow:  10px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}
a {
  color: #00B7FF;
}
#location {
  background-color: #396AA2;
  height: 500px;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: local;
  text-align: center;
  color: #2E1017;
  position: relative;
  overflow: hidden;
  /* top:0;
  bottom:0;
  right:0;
  left:0; */
}
#activities{
  text-align: center;
  padding: 10px;
}

table{
  width: 50%;
  margin: 50px auto;
}
th, td {
  text-align: center;
  padding: 8px;
  font-family: sans-serif;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

th {
  background-color: #396AA2;
  font-weight: bold;
}